<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RickArdurousEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <RickArdurousEditor.Properties.Settings>
            <setting name="ImageRelativePath" serializeAs="String">
                <value>\..\image\</value>
            </setting>
            <setting name="GameRelativePath" serializeAs="String">
                <value>\..\</value>
            </setting>
            <setting name="DocRelativePath" serializeAs="String">
                <value>/../Doc/</value>
            </setting>
            <setting name="DefaultMapFileName" serializeAs="String">
                <value>MapData.cpp</value>
            </setting>
            <setting name="BulletAndDynamiteCount" serializeAs="String">
                <value>0</value>
            </setting>
        </RickArdurousEditor.Properties.Settings>
    </userSettings>
</configuration>